extends ../layout

block content

    section#adminContainer
        .container
        #loginAdminBlock
            .signin-form
            h2.formTitleAdmin ADMINISTRATOR
            p.descriptionLogin Please sign in to get access
            form(action='/admin', method='POST')
                div
                    input#usernameInputAdmin.form-control.signUpFormInput(type='text', name='username', placehorder='admin', required)
                div
                    input#passwordInputAdmin.form-control.signUpFormInput(type='password', name='password', placehorder='admin', required)
                div
                    input#submitInputAdmin.form-submit.btn.btn-success(type='submit', value='Submit')