extends ../layout

block content

    section.adminContainer
        .container
        if confirmlog
            #adminManageBlock
                h2.formTitleAdmin ADMIN BOARD
                p.descriptionLogin Choose your management option
                #confirmlog(style='position: absolute; top: 55%; left: 40%')
                    if confirmlog
                        h2#confirmloggApp(style='font-size: 16px; font-weight: bold; color: green') #{messageLogg}
                        button#showContactBtn.btn.btn-info(onclick="location.href='http://localhost:3000/admin/contact'", data-message='Voir les contacts') Voir les contacts
        else
            h2.red(style='font-size: 16px; font-weight: bold; color: red') #{messageLogg}
            #loginAdminBlock
                .signin-form
                h2.formTitleAdmin ADMIN
                p.descriptionLogin Please sign in to get access
                form(action='/admin', method='POST')
                    div
                        input#firstnameInputAdmin.form-control.signUpFormInput(type='text', name='firstname', placeholder='firstname', required)
                    div
                        input#usernameInputAdmin.form-control.signUpFormInput(type='text', name='username', placeholder='email', required)
                    div
                        input#passwordInputAdmin.form-control.signUpFormInput(type='password', name='password', placeholder='password', required)
                    div
                        input#submitInputAdmin.form-submit.btn.btn-success(type='submit', value='Submit')