extends ./component/layout.pug

block content
  include ./component/carousel.pug
  include ./component/tuto.pug
  include ./component/form.pug
  
  #contactForm.form-row
    h2.formContact.col-12 FORMULAIRE DE CONTACT
      p.descriptionFormContact.col-12 Laissez vos coordonnées pour conseillé sur le package qu'il vous faut 
    form.form.contactForm(action='/', method='POST')
      .col-12
        +field({ required, label: 'Firstname', id: 'inputFirstName4', name: 'firstname', type: 'text', value: '', placeholder: 'Your firstname' })
        +field({ required, label: 'Lastname', id: 'inputLastName4', name: 'lastname', type: 'text', value: '', placeholder: 'Your lastname' })
        +field({ required, label: 'Email', id: 'inputEmail4', name: 'email', type: 'email', value: '', placeholder: 'Your email' })
        +field({ class: 'btn btn-info',  label: 'ENVOYER', id: 'sendContact', type: 'submit'})
      #confirm
        if confirm
          h2#confirmRecordData #{message}
        else
          h2.red #{message}

